@using jspBlog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="row buff">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="card-header card-header-rose text-center">
                    <h4 class="card-title">Login</h4>
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
                <div class="text-center">
                    @Html.ActionLink("Register Now to get Started!", "Register", null, new { @class = "description" })
                </div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Url.Action("Index", "BlogPosts", null) }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">face</i>
                                </span>
                            </div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email..." })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">lock_outline</i>
                                </span>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password..." })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="footer text-center">
                        <div class="row buffUp">
                            <div class="col-6 align-bottom">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            <div class="col-6">
                                <input type="submit" value="Log In" class="btn btn-rose" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}