@model jspBlog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

    <div class="container">
        <div class="row">
            <div class="col-md-offset-4">
                <h2>@Model.Title</h2>
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="@Model.MediaURL" class="img-responsive rounded" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>@Html.Raw(Model.Body)</p>
            </div>
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            <div class="row">
                <div class="col-md-2">
                    <h4>Created: </h4>
                    @Model.Created
                </div>
                <div class="col-md-2">
                    <h4>Slug: </h4>
                    @Model.Slug
                </div>
                <div class="col-md-2">
                    <a class="btn btn-rose btn-fab btn-round" href="@Url.Action("Edit", "BlogPosts", new { id = Model.Id })"><i class="material-icons">edit</i></a>
                    <a class="btn btn-rose btn-fab btn-round" href="@Url.Action("Delete", "BlogPosts", new { id = Model.Id })"><i class="material-icons">delete</i></a>
                </div>
                <div class="col-md-6">
                    @if (Model.Published)
                    {
                        <h5>This Blog has been <b>Published</b>.</h5>
                    } else
                    {
                        <h5>This Blog is <b>NOT Published</b>.</h5>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-3">
                    <h4>Created: </h4>
                    @Model.Created
                </div>
                <div class="col-md-3">
                    <h4>Slug: </h4>
                    @Model.Slug
                </div>
                <div class="col-md-6">
                    @if (Model.Published)
                    {
                        <h5>This Blog has been <b>Published</b>.</h5>
                    }
                    else
                    {
                        <h5>This Blog is <b>NOT Published</b>.</h5>
                    }
                </div>
            </div>
        }
    </div>


@*<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
