@model IEnumerable<jspBlog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1>Opus Blog</h1>
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-rose" })
        }
    </p>
</div>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card-img">
                        <img class="img-responsive" src="@item.MediaURL" style="width: 100%" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <h2 class="better align-text-top">@Html.DisplayFor(modelItem => item.Title)</h2>
                    @Html.Raw(item.Body)
                    <a class="btn btn-rose btn-round" href="@Url.Action("Details", "BlogPosts", new { slug = item.Slug })">Read More</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <a class="btn btn-rose btn-fab btn-round" href="@Url.Action("Edit", "BlogPosts", new { id = item.Id })"><i class="material-icons">edit</i></a>
                        <a class="btn btn-rose btn-fab btn-round" href="@Url.Action("Delete", "BlogPosts", new { id = item.Id })"><i class="material-icons">delete</i></a>
                    }
                </div>
                <div class="card-footer">
                    @Html.DisplayFor(modelItem =>item.Created)
                </div>
            </div>
        </div>
    }
</div>
